
body{
    background: rgb(157, 225, 236);
    font-family: 'Open Sans', sans-serif;

}
.container{
    border:10px solid rgb(255, 255, 255);
    width:350px;
    margin: 105px auto;
    padding: 10px;
    background-color: rgb(116, 233, 69);
}
.heading{
    color:rgb(255, 255, 255);
    background: rgb(13, 202, 186);
    text-align: center;
    padding: 5px;
    margin-top: 0px;
    
}
#tb{
    height: 25px;
    width: 250px
}
#btn1,#btn2{
    color:white;
    background-color: black;
    font-weight: bold;
}

li{
    border: 2px solid black;
    background: rgb(140, 222, 235);
    list-style: none;
    padding:10px;
    margin-top: 10px;
    color: rgb(8, 0, 0);
    position: relative;
    font-size: 20px;
}
ul li.checked{
    text-decoration: line-through;
    color: rgb(53, 7, 7);
    background-color:rgb(255, 255, 255); ;
}
ul li span{
    position: absolute;
    right: 0;
    top: 0;
    height:47px;
    width: 40px;
    font-size: 22px;
    color: #da0404;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background-color: #d39898;
}

.footer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
